{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="bg-login">
  <div class="login">
    <div class="col-left">
      <img class="img-login" src="{% static 'img/fundo-beecode.png' %}" />
    </div>
    <div class="col-right">
      <h2>Redefinir senha</h2>
      <form method="post">
        {% csrf_token %}
        <input type="password" id="password1" name="password1" class="form-control">
        <label for="password1">Senha: </label>
        <input type="password" id="password2" name="password2" class="form-control">
        <label for="password2">Confirmação da senha:</label>
        <button type="submit" class="btn btn-warning">Alterar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}