{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="home">
    <div class="d-flex justify-content-center p-2">
        <h1>Agendamentos</h1>
    </div>
    <div class="container">
        {% if schedules %}
        <table class="table table-stripped text-black">
            <thead>
                <tr>
                    <td width="20%">Data e Hora</td>
                    <td width="10%">Serviço</td>
                    <td width="15%">Nome do Pet</td>
                    <td width="20%">Cliente</td>
                    <td width="10%">Status</td>
                    <td width="5%">Ações</td>

                </tr>
            </thead>
            <tbody class="corpo-table">
                {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.schedule|date:"d/m/y - H:i" }}</td>
                    <td>{{ schedule.service.name }}</td>
                    <td>{{ schedule.pet.name_pet }}</td>
                    <td>{{ schedule.user.email }}</td>
                    <td>{{ schedule.get_status_display }}</td>
                    <td>
                        <a href="{% url 'schedules:schedule_update' schedule.pk %}" class="btn btn-warning">
                            <i class="fa fa-pencil" aria-hidden="true">
                                <span>&nbsp;Editar</span>
                            </i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'schedules:schedule_delete' schedule.pk %}" class="btn btn-warning">
                            <i class="fa fa-trash" aria-hidden="true">
                                <span>&nbsp;Excluir</span>
                            </i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container" style="text-align: center">
            <h1 class="naoTem">Não tem nenhum agendamento cadastrado!</h1>
        </div>
        {% endif %}
        <a class="btn-incluir" href="{% url 'schedules:schedule_create' %}"><img
                src="{% static 'img/icon-incluir.png' %}" alt="Incluir">
            <span>&nbsp;Incluir</span></a>
    </div>
</div>
<style>
    .navAgendamento {
        border-right: 2px solid #efc230 !important;
    }

    body>div.nav-vertical>ul>li:nth-child(2) {
        background: #e6e8ea;
    }

    .navAgendamento .img-cadastro,
    .navAgendamento .img-cadastro {
        filter: none !important;
    }
</style>
{% endblock %}